 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="/css/main.css">

  <meta name="description" content="{{ site.description }}" />

  <!-- Open Graph data -->
  <meta property="og:title" content="{{ site.description }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://redporcina.ciap.org.ar" />
  <meta property="og:image" content="https://redporcina.ciap.org.ar/image.jpg" />
  <meta property="og:description" content="{{ site.description }}" />

  <!-- Load Leaflet code library - updates http://leafletjs.com/download.html -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>

  <!-- Load Omnivore plugin to convert CSV to GeoJSON format -->
  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>

  <!-- Leaflet awesome markers -->
  <link rel="stylesheet" href="/assets/Leaflet.awesome-markers/leaflet.awesome-markers.css">
  <script src="/assets/Leaflet.awesome-markers/leaflet.awesome-markers.min.js"></script>

  <!-- Leaflet clustering -->
  <link rel="stylesheet" href="/assets/Leaflet.markercluster/MarkerCluster.css">
  <link rel="stylesheet" href="/assets/Leaflet.markercluster/MarkerCluster.Default.css">
  <script src="/assets/Leaflet.markercluster/leaflet.markercluster.js"></script>

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/37be048474.js" crossorigin="anonymous"></script>

  <!-- Position the map with Cascading Style Sheet (CSS) -->
  <style>
    body { margin:0; padding:0; }
    #map { position: absolute; top:0; bottom:0; right:0; left:0; }
    #map strong { color: black }
  </style>

  <!-- D3 para fetch -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <script src="https://cdn.jsdelivr.net/gh/nextapps-de/flexsearch@master/dist/flexsearch.min.js"></script>

<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//metricas.ciap.org.ar/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '4']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
  <!-- End Matomo Code -->
</head>
