<script>
  const dataUrlCarnicerias =   '/mapeo/CARNICERIAS.csv'
  //const dataUrlComercios =     ''
  const dataUrlEducacion =     '/mapeo/EDUCACION.csv'
  const dataUrlInstituciones = '/mapeo/INSTITUCIONES.csv'
  const dataUrlIndustrias =    '/mapeo/INDUSTRIA.csv'
  const dataUrlFaenaSenasa =   '/mapeo/FAENA_SENASA.csv'
  const dataUrlFaenaNoSenasa = '/mapeo/FAENA_NO_SENASA.csv'
  const dataUrlProductores = '/mapeo/PRODUCTORES.csv'
  // const dataUrlAcopio = '/mapeo/ACOPIO.csv'
  // const dataUrlTecnicos = '/mapeo/TECNICOS.csv'
  
  const entries = [
    { url: dataUrlCarnicerias, type: 'carnicerias' },
    //{ url: dataUrlComercios, type: 'comercios' },
    { url: dataUrlEducacion, type: 'educacion' },
    { url: dataUrlInstituciones, type: 'instituciones' },
    { url: dataUrlIndustrias, type: 'industrias' },
    { url: dataUrlFaenaSenasa, type: 'senasa' },
    { url: dataUrlFaenaNoSenasa, type: 'no_senasa' },
    { url: dataUrlProductores, type: 'productores' },
    // { url: dataUrlAcopio, type: 'acopio' },
    // { url: dataUrlTecnicos, type: 'tecnicos' }
  ]
  const promises = []

  let index
  let field

  entries.forEach((entry, i) => {
    const p = d3.csv(entry.url)
    promises.push(p)
  })

  Promise.all(promises)
    .then(data => {
      // Le agregamos el nombre de la hoja a cada registro
      data = data.map((entry, i) => {
        return entry.map(row => {
          row._tipo = entries[i].type
          return row
        })
      })

      data = data.flat()

      // Nos quedamos con los nombres unicos de las columnas
      // filtrando los que comienzan con _
      field = new Set()
      data.forEach(row => {
        Object.keys(row).forEach(key => {
          if (['lat', 'lng', ''].includes(key)) {
            let a = 1
          } else if (key.startsWith('_')) {
            let a = 1
          } else {
            field.add(key)
          }
        })
      })
      field = [...field]

      // Le agregamos un id unico a cada registro para el search
      data = data.map((row, i) => { 
        row._id = i
        return row
      })

      console.log('data for the search', field)

      index = new FlexSearch({
        encode: "icase",
        tokenize: "full",
        //threshold: 1,
        resolution: 9,

        doc: {
          id: "_id",
          field
        }
      })

      index.add(data)
    })

  function search() {
    const query = document.getElementById('queryInput').value
    
    //results = index.search(query)
    results = field.map(key => index.search(query, { field: key, limit: 30 }))
    results = [...new Set(results.flat())]

    console.log(results)

    let div = ''
    results.forEach(result => {
      div += '<div class="notification">'
      
      partial = Object.keys(result)
        .filter(key => result[key] !== '')
        .filter(key => !['lat', 'lng', ''].includes(key))
        .filter(key => !key.startsWith('_'))
        .map(key => `<b>${key}</b>: ${result[key]} <br>`)
      div += partial.join('')
      div += '</div>'
    })
    
    document.getElementById('resultado').innerHTML = div
  }
</script>
