<!DOCTYPE html>
<html>
  {% include head-mapa.html %}
  <body>

    {% include navbar.html %}

    {% unless page.hide_hero %}
       {% include hero.html %}
    {% endunless %}

    <section class="section content">
      
        <div class="container is-size-6 has-text-justified">

          {{ content }}

          <div class="container" style="min-height:850px">
            <!-- Insert HTML division tag to layout the map -->
          <div id="map" style="height:850px"></div>
          </div>

          <div class="columns" style="margin-top: 50px;">
            <div class="column {{ content_width }}">
              
            </div>
          </div>
          
        </div>

    </section>

    {% include script-mapa.js %}
    {% include footer.html %}

  </body>
</html>
